body {
  background: #35333b;
}
.Holder {
  position: fixed;
  max-width: 100%;
  height: 118.11025rem;
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  gap: 17.24871285rem;
  top: 4.724409449rem;
  left: 2.362205022rem;
}

.CurrentOrder {
  animation: rollIn 0.5s ease-in;
  position: fixed;
  background: #28282a;
  width: 23rem;
  left: 69rem;
  height: 38rem;
  border-radius: 6px;
}

.addedOrders {
  overflow-x:hidden;
  position: fixed;
  background-color: red;
  display: flex;
  width: 23rem;
  height: 10rem;
  margin-top: 2rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.ButtonsContainer{
  position: fixed;
  background-color: green;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 23rem;
  height: 13rem;
  margin-top: 24.9rem;
}
