<!DOCTYPE html>
<html>
  <body>
    <div class="foodCatag">
        <button class="sampleCatag">
            <img src="{{url_for('static', filename='/assets/burger.png')}}" align="middle" />
            <p class="texts">Burger</p>
        </button>
        <button class="sampleCatag">
            <img src="{{url_for('static', filename='/assets/burger.png')}}" align="middle" />
            <p class="texts">Burger</p>
        </button>
        <button class="sampleCatag">
            <img src="{{url_for('static', filename='/assets/burger.png')}}" align="middle" />
            <p class="texts">Burger</p>
        </button>
        <button class="sampleCatag">
            <img src="{{url_for('static', filename='/assets/burger.png')}}" align="middle" />
            <p class="texts">Burger</p>
        </button>   
    </div>
    <div class="FoodMenu">
        <button class="FoodMenuButton" onclick="addOrder(this)" value="64256e0a28070de5a1846e7b">
            <img src="{{url_for('static', filename='/assets/burger.png')}}" align="middle" />
            <p class="texts">Burger</p>
            <p class="price">$6.99</p>
            <value >
        </button>
        <button class="FoodMenuButton" onclick="addOrder(this)" value="642567c9368c2dc993bc0559">
            <img src="{{url_for('static', filename='/assets/pizza.png')}}" align="middle" />
            <p class="texts">Pizza</p>
            <p class="price">$6.99</p>
        </button>
        <button class="FoodMenuButton">
            <img src="{{url_for('static', filename='/assets/burger.png')}}" align="middle" />
            <p class="texts">Burger</p>
            <p class="price">$6.99</p>
        </button>
        <button class="FoodMenuButton">
            <img src="{{url_for('static', filename='/assets/burger.png')}}" align="middle" />
            <p class="texts">Burger</p>
            <p class="price">$6.99</p>
        </button>
        <button class="FoodMenuButton">
            <img src="{{url_for('static', filename='/assets/burger.png')}}" align="middle" />
            <p class="texts">Burger</p>
            <p class="price">$6.99</p>
        </button>
        <button class="FoodMenuButton">
            <img src="{{url_for('static', filename='/assets/burger.png')}}" align="middle" />
            <p class="texts">Burger</p>
            <p class="price">$6.99</p>
        </button>
    </div>
    <div class="ChosenItems">
        <p class="texts">Test</p>
    </div>
  </body>
  <script
    type="text/javascript"
    src="{{ url_for('static', filename = 'js/app.js') }}"
  ></script>
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/index.css') }}"
  />
</html>
