<!DOCTYPE html>
<html>
  <body>
    <div class="foodCatag">
        <button class="sampleCatag">
            <img src="{{url_for('static', filename='burger.png')}}" align="middle" />
            <p class="texts">Burger</p>
        </button>
        <button class="sampleCatag">
            <img src="{{url_for('static', filename='burger.png')}}" align="middle" />
            <p class="texts">Burger</p>
        </button>
        <button class="sampleCatag">
            <img src="{{url_for('static', filename='burger.png')}}" align="middle" />
            <p class="texts">Burger</p>
        </button>
        <button class="sampleCatag">
            <img src="{{url_for('static', filename='burger.png')}}" align="middle" />
            <p class="texts">Burger</p>
        </button>   
    </div>
    <div class="FoodMenu">
        <button class="FoodMenuButton">
            <img src="{{url_for('static', filename='burger.png')}}" align="middle" />
            <p class="texts">Burger</p>
            <p class="price">$6.99</p>
        </button>
        <button class="FoodMenuButton">
            <img src="{{url_for('static', filename='burger.png')}}" align="middle" />
            <p class="texts">Burger</p>
            <p class="price">$6.99</p>
        </button>
        <button class="FoodMenuButton">
            <img src="{{url_for('static', filename='burger.png')}}" align="middle" />
            <p class="texts">Burger</p>
            <p class="price">$6.99</p>
        </button>
        <button class="FoodMenuButton">
            <img src="{{url_for('static', filename='burger.png')}}" align="middle" />
            <p class="texts">Burger</p>
            <p class="price">$6.99</p>
        </button>
        <button class="FoodMenuButton">
            <img src="{{url_for('static', filename='burger.png')}}" align="middle" />
            <p class="texts">Burger</p>
            <p class="price">$6.99</p>
        </button>
        <button class="FoodMenuButton">
            <img src="{{url_for('static', filename='burger.png')}}" align="middle" />
            <p class="texts">Burger</p>
            <p class="price">$6.99</p>
        </button>
    </div>
    <div class="ChosenItems">

    </div>
  </body>
  <script
    type="text/javascript"
    src="{{ url_for('static', filename = 'js/app.js') }}"
  ></script>
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/index.css') }}"
  />
</html>
